<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">{{getResourceLocal('pageHeading')}}</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i>{{getResourceLocal('botPerformance.heading')}}
        <div class="pull-right">
          <div class="btn-group">
            <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" type="button">
              Actions
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li><a (click)="getDailyTransactions(null)">{{getResourceLocal('botPerformance.actions.last1Days')}}</a>
              </li>
              <li><a (click)="get7DaysTransactions(null)">{{getResourceLocal('botPerformance.actions.last7Days')}}</a>
              </li>
              <li><a
                (click)="getMonthlyTransactions(null)">{{getResourceLocal('botPerformance.actions.last30Days')}}</a>
              </li>
              <li><a
                (click)="get6MonthlyTransactions(null)">{{getResourceLocal('botPerformance.actions.last180Days')}}</a>
              </li>
              <li><a
                (click)="getLastYearTransactions(null)">{{getResourceLocal('botPerformance.actions.last360Days')}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <bk-datatable #allBotsTransaction [records]='allBotsTransactionData'
                      pageSize='12000'>
          <bk-column field='name' header='Bot Name'
                     sort='true'></bk-column>
          <bk-column field='name' header='Total #of Chats'
                     sort='true'>
            <ng-template bkTemplate='body' let-col='column' let-index='rowIndex' let-trans='rowData'>
              {{trans.successTransactions.length + trans.failureTransactions.length + trans.maybeTransactions.length}}
            </ng-template>
          </bk-column>
          <bk-column field='name' header='Success Chats'
                     sort='true'>
            <ng-template bkTemplate='body' let-col='column' let-index='rowIndex' let-trans='rowData'>
              {{trans.percentageSuccess}}%
            </ng-template>
          </bk-column>
          <bk-column field='name' header='Partial Success Chats'
                     sort='true'>
            <ng-template bkTemplate='body' let-col='column' let-index='rowIndex' let-trans='rowData'>
              <a (click)="viewTransactionDetails(trans.id, 'maybe')"
                 *ngIf="trans.percentageMaybe > 0">{{trans.percentageMaybe}}%</a>
              <div *ngIf="trans.percentageMaybe === 0">{{trans.percentageMaybe}}%</div>
            </ng-template>
          </bk-column>
          <bk-column field='name' header='Failed Chats'
                     sort='true'>
            <ng-template bkTemplate='body' let-col='column' let-index='rowIndex' let-trans='rowData'>
              <a (click)="viewTransactionDetails(trans.id, 'failed')"
                 *ngIf="trans.percentageFailure > 0">{{trans.percentageFailure}}%</a>
              <div *ngIf="trans.percentageFailure === 0">{{trans.percentageFailure}}%</div>
            </ng-template>
          </bk-column>

        </bk-datatable>

        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <app-bk-chart #chartComponent *ngIf="chartData" [chartData]="chartData"></app-bk-chart>
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>
    </div>
  </div>
  <!--div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bell fa-fw"></i> Notifications Panel
      </div>
      <div class="panel-body">
        <div class="list-group">
          <a href="#" class="list-group-item">
            <i class="fa fa-comment fa-fw"></i> Total Transactions
            <span class="pull-right text-muted small"><em>4 minutes ago</em>
                        </span>
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-twitter fa-fw"></i> 3 New Followers
            <span class="pull-right text-muted small"><em>12 minutes ago</em>
                        </span>
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-envelope fa-fw"></i> Message Sent
            <span class="pull-right text-muted small"><em>27 minutes ago</em>
                        </span>
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-tasks fa-fw"></i> New Task
            <span class="pull-right text-muted small"><em>43 minutes ago</em>
                        </span>
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-upload fa-fw"></i> Server Rebooted
            <span class="pull-right text-muted small"><em>11:32 AM</em>
                        </span>
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-bolt fa-fw"></i> Server Crashed!
            <span class="pull-right text-muted small"><em>11:13 AM</em>
                        </span>
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-warning fa-fw"></i> Server Not Responding
            <span class="pull-right text-muted small"><em>10:57 AM</em>
                        </span>
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
            <span class="pull-right text-muted small"><em>9:49 AM</em>
                        </span>
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-money fa-fw"></i> Payment Received
            <span class="pull-right text-muted small"><em>Yesterday</em>
                        </span>
          </a>
        </div>
        <a href="#" class="btn btn-default btn-block">View All Alerts</a>
      </div>
    </div>
  </div-->
</div>
