.helpUl li {
  padding-top: 8px;
}

.help-panel .accordion-toggle {
  font-size: 17px !important;
}

.bs-callout-info {
  border-color: #1b809e !important;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout + .bs-callout {
  margin-top: -5px;
}
