<div class='row'>
  <div class='col-sm-12'><h1 class='page-header'>
    {{getResourceLocal('maintainSubscription.pageHeading')}}
  </h1></div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel-group" id="accordion1">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{getResourceLocal('maintainSubscription.accountDetails')}}
        </div>
        <div class="panel-collapse collapse in table-box">
          <div class="panel-body content padded">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="row">
                  <div class="form-group col-sm-4 displayHeader">
                    {{ getResourceLocal('userName') }}:
                  </div>
                  <div class="form-group col-md-8 col-sm-12">
                    {{seerBotAdminAccount.userName}}
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="row">
                  <div class="form-group col-sm-4 displayHeader">
                    {{ getResourceLocal('realm') }}:
                  </div>
                  <div class="form-group col-md-8 col-sm-12">
                    {{seerBotAdminAccount.realm}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="row">
                  <div class="form-group col-sm-4 displayHeader">
                    {{ getResourceLocal('firstName') }}:
                  </div>
                  <div class="form-group col-md-8 col-sm-12">
                    {{seerBotAdminAccount.owner.firstName}}
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="row">
                  <div class="form-group col-sm-4 displayHeader">
                    {{ getResourceLocal('lastName') }}:
                  </div>
                  <div class="form-group col-md-8 col-sm-12">
                    {{seerBotAdminAccount.owner.lastName}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div *ngIf="showChangePassword === true" class="col-sm-12">
                <seer-button (click)='showChangePasswordWidgets()' intent="success" label="Change Password"
                           type="button"></seer-button>
              </div>
              <div *ngIf="showChangePassword === false" class="col-sm-12">
                <form (ngSubmit)='onSubmit()' [formGroup]='changePasswordForm' novalidate>
                  <div class='row'>
                    <div class='col-sm-1'></div>
                    <div class='col-sm-10 panel panel-default'>
                      <div class='row'>
                        <div class='col-sm-12'>
                          <div class="table-box tp-10margin">
                            <div class="content padded">
                              <div *ngIf="passwordChangeSuccess" class='row'>
                                <div class="col-sm-12">
                                  <div class="alert alert-success">
                                    {{getResourceLocal('passwordChangedSuccess')}}
                                  </div>
                                </div>
                              </div>
                              <div class='row'>
                                <div class="col-lg-6 col-sm-12">
                                  <seer-input #passwordCapture
                                                [currentFormGroup]='changePasswordForm'
                                                currentFormControlName='passwordCapture' inputType="password"
                                                label='{{getResourceLocal("password")}}'></seer-input>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                  <seer-input #passwordCaptureReenter
                                                [currentFormGroup]='changePasswordForm'
                                                currentFormControlName='passwordCaptureReenter' inputType="password"
                                                label='{{getResourceLocal("passwordRenter")}}'></seer-input>
                                  <div *ngIf="changePasswordForm.hasError('notSame')" class="errorMessage">
                                    Does not match
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class='row'>
                        <div class='col-sm-12' style='margin-bottom: 1em'>
                          <seer-button [currentFormGroup]='changePasswordForm' [disabled]='!changePasswordForm.valid'
                                     intent='success'
                                     label='{{getResourceLocal("changePasswordButton")}}'
                                     type='submit'></seer-button>
                          <seer-button (click)="cancelChangePassword()" intent='danger'
                                     label='{{getCommonResources("doneButton")}}'>>
                          </seer-button>
                        </div>
                        <div [innerHTML]="getCommonResources('requiredIndicator')" class="col-sm-12"></div>
                      </div>
                    </div>
                    <div class='col-sm-1'></div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel-group" id="accordion2">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{getResourceLocal('roles')}}
        </div>
        <div class="panel-collapse collapse in table-box">
          <div class="panel-body content padded">
            <div *ngFor="let role of seerBotAdminAccount.roles; let i=index" class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="form-group col-sm-1 displayHeader">
                    {{ getResourceLocal('role') }}:
                  </div>
                  <div class="form-group col-sm-11">
                    {{role.description}}
                  </div>
                </div>
                <ng-template [ngForOf]="role.policies" let-policy ngFor>
                  <ng-template [ngForOf]="policy.statements" let-statement ngFor>
                    <div class="row">
                      <div class="form-group col-sm-1">
                      </div>
                      <div class="form-group col-sm-1 displayHeader">
                        {{ getResourceLocal('entity') }}:
                      </div>
                      <div class="form-group col-md-3 col-sm-12">
                        {{statement.resource.description}}
                      </div>
                      <div class="form-group col-sm-2 displayHeader">
                        {{ getResourceLocal('access') }}:
                      </div>
                      <div class="form-group col-md-5 col-sm-12">
                        <ng-template [ngForOf]="statement.actions" let-action ngFor>
                          {{action.name}},
                        </ng-template>
                      </div>
                    </div>
                  </ng-template>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel-group" id="subscription">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{getResourceLocal('maintainSubscription.subscriptionHeading')}}
        </div>
        <div class="panel-collapse collapse in table-box">
          <div class="panel-body content padded">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="row">
                  <div class="form-group col-sm-4 displayHeader">
                    {{ getResourceLocal('maintainSubscription.subscriptionName') }}:
                  </div>
                  <div class="form-group col-md-8 col-sm-12">
                    {{subscription.plan.name}}
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="row">
                  <div class="form-group col-sm-4 displayHeader">
                    {{ getResourceLocal('maintainSubscription.subscriptionDesc') }}:
                  </div>
                  <div class="form-group col-md-8 col-sm-12">
                    {{subscription.plan.description}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="row">
                  <div class="form-group col-sm-4 displayHeader">
                    {{ getResourceLocal('maintainSubscription.maxTransactions') }}:
                  </div>
                  <div class="form-group col-md-8 col-sm-12">
                    {{subscription.plan.tier.maxTransactions}} {{getResourceLocal('maintainSubscription.perMinute')}}
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <!--<div class="row">
                  <div class="form-group col-sm-4 displayHeader">
                    {{ getResourceLocal('maintainSubscription.maxTransactions') }}:
                  </div>
                  <div class="form-group col-md-8 col-sm-12">
                    {{subscription.plan.tier.maxTransactions}}
                  </div>
                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



