<div *ngIf="planForm" class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">
        {{ getResourceLocal('pageHeading') }}
      </h1>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="planForm" novalidate>
    <div class="row">
      <div class="col-sm-12">
        <div class="table-box">
          <div class="content padded">
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <seer-input [currentFormGroup]="planForm" currentFormControlName="name"
                              label="{{ getResourceLocal('name') }}"></seer-input>
              </div>
              <div class="col-lg-6 col-sm-12">

                <seer-textarea [currentFormGroup]="planForm" currentFormControlName="description" label="{{
                                                    getResourceLocal('description')
                                                  }}"></seer-textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <seer-select [currentFormGroup]="planForm" [options]='tiersOptions'
                               currentFormControlName="tierCode"
                               label="{{ getResourceLocal('tier') }}"></seer-select>
              </div>
              <div class="col-lg-6 col-sm-12">
                <seer-input [currentFormGroup]="planForm"
                              currentFormControlName="price" label="{{getResourceLocal('price')}}"></seer-input>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12" style="margin-bottom: 1em">
      <seer-button [disabled]="!planForm.valid" intent="success" label="{{getCommonResources('saveButton')}}"
                 type="submit"></seer-button>
      <seer-button (onClick)="revert()" intent="warning" label="{{getCommonResources('revertButton')}}"></seer-button>
      &nbsp;<seer-button (onClick)="cancel()" intent="danger" label="{{getCommonResources('cancelButton')}}">
    </seer-button>
    </div>
  </form>
</div>
