body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.corpBanner {
  background-image: url(../images/yumyum.jpeg);
  background-repeat: repeat;
  width: 500px;
  height: 374px;
}
