<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li *ngIf='getAuthenticationService().isAdmin()'>
            <a data-toggle="collapse" data-target="#submenu-1"><i class="glyphicon glyphicon-cog"></i>{{getCommonService().cmsContent.leftMenu.admin.heading}}<i class="fa fa-fw fa-angle-down pull-right"></i></a>
            <ul id="submenu-1" class="collapse">
                <li><a [routerLink]="['/admin/add-bot']">{{getCommonService().cmsContent.leftMenu.admin.option1}}</a></li>
                <li><a [routerLink]="['/admin/search_bot']">{{getCommonService().cmsContent.leftMenu.admin.option2}}</a></li>
                <li><a [routerLink]="['/admin/add-intent']">{{getCommonService().cmsContent.leftMenu.admin.option3}}</a></li>
                <li><a [routerLink]="['/admin/search-intent']">{{getCommonService().cmsContent.leftMenu.admin.option4}}</a></li>
            </ul>
        </li>
        <li *ngIf='getAuthenticationService().isAdmin()'>
            <a data-toggle="collapse" data-target="#submenu-2"><i class="glyphicon glyphicon-cog"></i>{{getCommonService().cmsContent.leftMenu.botsLife.heading}}<i class="fa fa-fw fa-angle-down pull-right"></i></a>
            <ul id="submenu-2" class="collapse">
                <li><a [routerLink]="['/admin/search_bots_to_launch']">{{getCommonService().cmsContent.leftMenu.botsLife.option1}}</a></li>
                <li><a [routerLink]="['/admin/search-bot']">{{getCommonService().cmsContent.leftMenu.botsLife.option2}}</a></li>
                <li><a [routerLink]="['/admin/add-intent']">{{getCommonService().cmsContent.leftMenu.botsLife.option3}}</a></li>
                <li><a [routerLink]="['/admin/search-intent']">{{getCommonService().cmsContent.leftMenu.botsLife.option4}}</a></li>
            </ul>
        </li>
        <li>
            <a href="investigaciones/favoritas"><i class="fa fa-fw fa-user-plus"></i> MENU 3</a>
        </li>
        <li>
            <a href="sugerencias"><i class="fa fa-fw fa-paper-plane-o"></i> MENU 4</a>
        </li>
        <li>
            <a href="faq"><i class="fa fa-fw fa fa-question-circle"></i> MENU 5</a>
        </li>
    </ul>
</div>