<div *ngIf="context && launchDTO" class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">{{ getPageHeader() }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="table-box tp-10margin">
        <div class="content padded">
          <div class="row">
            <div class="form-group col-sm-12 displayHeader">
              {{ getHeader() }}
            </div>
          </div>
          <form (ngSubmit)="launchNow()"
                *ngIf="launchDTO.bot.status.code === 'DRAFT'"
                [formGroup]="launchForm"
                novalidate>
            <div *ngIf="context === 'startLaunch'" class="row">
              <div class="col-lg-6 col-sm-12">
                <div class="row">
                  <div class="form-group col-lg-3 col-sm-12 displayHeader">
                    {{ getResourceLocal('startLaunch.nameLabel') }}
                  </div>
                  <div class="form-group col-lg-6 col-sm-12">
                    {{ launchDTO.bot.name }}
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-lg-3 col-sm-12 displayHeader">
                    {{ getResourceLocal('startLaunch.descriptionLabel') }}
                  </div>
                  <div class="form-group col-lg-6 col-sm-12">
                    {{ launchDTO.bot.description }}
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-lg-3 col-sm-12 displayHeader">
                    {{ getResourceLocal('startLaunch.statusLabel') }}
                  </div>
                  <div class="form-group col-lg-6 col-sm-12">
                    {{ launchDTO.bot.status.name }}
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-lg-6 displayHeader">
                    <seer-select
                      (onSelect)="onSelectHandler($event)"
                      [currentFormGroup]="launchForm"
                      [options]="trainedModels"
                      currentFormControlName="trainedModelId"
                      label="{{ getResourceLocal('startLaunch.trainedModel') }}"
                    ></seer-select>
                  </div>
                  <div class="form-group col-lg-6 displayHeader">
                    <seer-input
                      [currentFormGroup]="launchForm"
                      currentFormControlName="allowedOrigins"
                      label="{{getResourceLocal('startLaunch.allowedOrigin')}}"
                    ></seer-input>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" style="margin-bottom: 1em">
      <seer-button
        (click)="testNow()"
        *ngIf="launchDTO.bot.status.code === 'DRAFT'"
        [disabled]="isDisabled()"
        intent="success"
        label="{{getResourceLocal('startLaunch.testNow')}}"
        type="button"></seer-button>

      <seer-button
        (click)="cancel()"
        intent="danger"
        label="{{ getCancelButtonLabel() }}"></seer-button>
    </div>
  </div>
</div>
