<div *ngIf="roleForm" class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">
        {{
        roleModel.id === null
          ? getResourceLocal('maintainRole.pageHeadingCreate')
          : getResourceLocal('maintainRole.pageHeadingEdit')
        }}
      </h1>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="roleForm" novalidate>
    <div class="row">
      <div class="col-sm-12">
        <div class="table-box">
          <div class="content padded">
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <seer-input
                  [currentFormGroup]="roleForm"
                  currentFormControlName="role"
                  label="{{ getCommonResources('entity.name') }}"
                ></seer-input>
              </div>
              <div class="col-lg-6 col-sm-12">
                <seer-input
                  [currentFormGroup]="roleForm"
                  currentFormControlName="code"
                  label="{{ getCommonResources('entity.code') }}"
                ></seer-input>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <seer-textarea
                  [currentFormGroup]="roleForm"
                  currentFormControlName="description"
                  label="{{ getCommonResources('entity.description') }}"
                ></seer-textarea>
              </div>
              <div class="col-lg-6 col-sm-12">
                <seer-multi-select
                  (onSelect)="processSelectedValues($event)"
                  [currentFormGroup]="roleForm"
                  [options]="policyOptions"
                  [startingValues]="getStartingValues()"
                  controlId="multiSelectCategoryId"
                  currentFormControlName="selectPolicies"
                  label="{{ getResourceLocal('maintainRole.policy') }}"
                ></seer-multi-select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12" style="margin-bottom: 1em">
      <seer-button
        [disabled]="!roleForm.valid"
        intent="success"
        label="{{ getCommonResources('saveButton') }}"
        type="submit"
      ></seer-button
      >
      <seer-button
        (onClick)="revert()"
        intent="warning"
        label="{{ getCommonResources('revertButton') }}"
      ></seer-button
      >&nbsp;<seer-button
      (onClick)="cancel()"
      intent="danger"
      label="{{ getCommonResources('cancelButton') }}"
    ></seer-button>
    </div>
  </form>
</div>
