<div *ngIf="context && launchDTO" class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">{{ getPageHeader() }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            {{getResourceLocal('startLaunch.pageSubsectionHeading')}}
          </div>
          <div class="panel-collapse collapse in table-box" id="collapseOne">
            <div class="panel-body content padded">
              <div class="row">
                <div class="form-group col-md-2 col-sm-12 displayHeader">
                  {{ getResourceLocal('startLaunch.nameLabel') }}:
                </div>
                <div class="form-group col-md-10 col-sm-12">
                  {{ launchDTO.bot.name }}
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-2 col-sm-12 displayHeader">
                  {{ getResourceLocal('startLaunch.trainedModel') }}:
                </div>
                <div class="form-group col-md-10 col-sm-12">
                  {{ launchDTO.bot.launchInfo[0].trainedModel.name }}
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-2 col-sm-12 displayHeader">
                  {{ getResourceLocal('startLaunch.descriptionLabel') }}:
                </div>
                <div class="form-group col-md-10 col-sm-12">
                  {{ launchDTO.bot.description }}
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-2 col-sm-12 displayHeader">
                  {{ getResourceLocal('startLaunch.statusLabel') }}:
                </div>
                <div class="form-group col-md-10 col-sm-12">
                  {{ launchDTO.bot.status.name }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-box tp-10margin">
        <div class="content padded">
          <div class="row">
            <div class="form-group col-sm-12 displayHeader">
              {{ getHeader() }}
            </div>
          </div>
          <div *ngIf="isBotLaunched()" class="form-group">
            {{ getResourceLocal('launched.botUniqueIdUse') }}
          </div>
          <div *ngIf="isBotLaunched()" class="row">
            <div class="col-sm-12">
              <dl class="dl-horizontal">
                <dt>{{ getResourceLocal('launched.botUniqueId') }}:</dt>
                <dd>{{ botUniqueId }}</dd>
                <dt>{{ getResourceLocal('launched.chatApiUrl') }}:</dt>
                <dd>{{ chatApiUrl }}</dd>
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12">
              <bk-button
                (onClick)="showStopBot()"
                intent="danger"
                label="{{ getResourceLocal('startLaunch.stopNowButton') }}"></bk-button>
              <bk-button
                (onClick)="showReInitBot()"
                intent="warning"
                label="{{ getResourceLocal('startLaunch.reinitializeNowButton') }}"></bk-button>
              <bk-button
                (onClick)="showLaunchBotModal()"
                *ngIf='!isBotLaunched()'
                intent="success"
                label="{{ getResourceLocal('startLaunch.launchNowButton') }}"></bk-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-bk-custom-modal #stopBotModal>
    <div class="app-modal-header">
      <span
        class="custom-glyphicon glyphicon
        glyphicon-exclamation-sign"></span>{{getResourceLocal("startLaunch.stopBotHeading")}}
    </div>
    <div class="app-modal-body">
      {{getResourceLocal("startLaunch.stopBotMessage")}}
    </div>
    <div class="app-modal-footer">
      <bk-button (click)='testBotModal.hide()' intent="success" label="{{ getCommonResources('noButton') }}">
      </bk-button>
      <bk-button (click)="stopBot()" intent="danger"
                 label="{{ getResourceLocal('startLaunch.stopNowButton') }}"></bk-button>
    </div>
  </app-bk-custom-modal>

  <app-bk-custom-modal #reInitBotModal>
    <div class="app-modal-header">
      <span
        class="custom-glyphicon glyphicon
        glyphicon-exclamation-sign"></span>{{getResourceLocal("startLaunch.reInitBotHeading")}}
    </div>
    <div class="app-modal-body">
      {{getResourceLocal("startLaunch.reInitBotMessage")}}
    </div>
    <div class="app-modal-footer">
      <bk-button (click)='reInitBotModal.hide()' intent="success" label="{{ getCommonResources('noButton') }}">
      </bk-button>
      <bk-button (click)="reInitBot()" intent="danger"
                 label="{{ getResourceLocal('startLaunch.reinitializeNowButton') }}"></bk-button>
    </div>
  </app-bk-custom-modal>

  <app-bk-custom-modal #launchBotModal>
    <div class="app-modal-header">
      <span
        class="custom-glyphicon glyphicon glyphicon-exclamation-sign"></span>{{getResourceLocal("startLaunch.launchBotHeading")}}
    </div>
    <div class="app-modal-body">
      {{getResourceLocal("startLaunch.launchBotMessage")}}
    </div>
    <div class="app-modal-footer">
      <bk-button (click)='launchBotModal.hide()' intent="success" label="{{ getCommonResources('noButton') }}">
      </bk-button>
      <bk-button (click)="launchBot()" intent="danger"
                 label="{{ getResourceLocal('startLaunch.launchNowButton') }}"></bk-button>
    </div>
  </app-bk-custom-modal>

  <div class="row">
    <div class="col-sm-12">
      <div class="chat_window">
        <div class="top_menu">
          <div class="buttons">
            <div class="button close"></div>
            <div class="button minimize"></div>
            <div class="button maximize"></div>
          </div>
          <div class="title">Chat</div>
        </div>
        <ul #messageListContainer class="messages">
          <li #messageList></li>
        </ul>
        <div class="bottom_wrapper clearfix">
          <div class="input-group">
            <input
              #chatbox
              (keydown)="onKeydownEvent($event)"
              class="form-control message_input"
              placeholder="{{ getResourceLocal('startLaunch.typeYourMessage') }}"
              type="text"/>
            <span class="input-group-btn">
              <button
                (click)="sendMessage()"
                class="btn btn-default send-button"
                type="button">
                {{ getResourceLocal('startLaunch.sendLabel') }}
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
