<div *ngIf='botSearchForm' class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">
        {{getHeading()}}
      </h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <p>
        <span
          class="green-glyphicon-subheading glyphicon glyphicon-search"></span>{{getPageVerbiage()}}
        <span (click)="help()" class="green-glyphicon-help glyphicon glyphicon-question-sign"
              title="Click for more details"></span>
      </p>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="botSearchForm"
        novalidate>
    <div class="row">
      <div class="col-sm-12">
        <div class="table-box">
          <div class="content padded">
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <app-bk-input [currentFormGroup]="botSearchForm"
                              currentFormControlName="name"
                              label='{{getResource("maintainBot", "addBot.nameLabel")}}'></app-bk-input>
              </div>
              <div class="col-lg-6 col-sm-12">
                <app-bk-input [currentFormGroup]="botSearchForm"
                              currentFormControlName="displayName"
                              label='{{getResource("maintainBot", "addBot.displayNameLabel")}}'></app-bk-input>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <app-bk-select [currentFormGroup]='botSearchForm'
                               [options]='category'
                               currentFormControlName='category'
                               label='{{getResource("maintainBot", "addBot.categoryLabel")}}'></app-bk-select>
              </div>
              <div class="col-lg-6 col-sm-12">
                <!-- <app-bk-input [currentFormGroup]="botSearchForm" label='{{getResource("maintainBot", "addBot.descriptionLabel")}}'
                currentFormControlName="description"></app-bk-input> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-12' style='margin-bottom: 1em'>
        <bk-button [currentFormGroup]='formDir' intent='success' label='{{getCommonResources("searchButton")}}'
                   type='submit'></bk-button>
        <bk-button (click)="revert()" intent='warning'
                   label='{{getCommonResources("resetButton")}}'></bk-button>
        <bk-button (click)="cancel()" intent='danger'
                   label='{{getCommonResources("cancelButton")}}'>>
        </bk-button>
      </div>
      <div [innerHTML]="getCommonResources('requiredIndicator')" class="col-sm-12"></div>
    </div>
  </form>
  <!--{{botSearchForm.value | json}}-->
  <router-outlet></router-outlet>
</div>
