<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-12'><h1 class='page-header'>{{getHeading()}}</h1></div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <seer-datatable #searchBotResults [records]='(botResults$ | async)'
                    pageSize='6' smallDeviceHeader='{{getResourceLocal("resultsTable.heading")}}'>
        <seer-column field='name' header='{{getResourceLocal("resultsTable.colHeaders.col1")}}' sort='true'>
          <ng-template bkTemplate='body' let-bot='rowData' let-col='column' let-index='rowIndex'>
            <a (click)="editBot(bot.id)">{{bot.name}}</a>
          </ng-template>
        </seer-column>
        <seer-column field='displayName' header='{{getResourceLocal("resultsTable.colHeaders.col2")}}'
                   sort='true'></seer-column>
        <seer-column field='description' header='{{getResourceLocal("resultsTable.colHeaders.col3")}}'
                   sort='true'></seer-column>
        <seer-column field='category' header='{{getResourceLocal("resultsTable.colHeaders.col4")}}' sort='true'>
          <ng-template bkTemplate='body' let-bot='rowData' let-col='column' let-index='rowIndex'>
            {{bot.category.name}}
          </ng-template>
        </seer-column>
        <seer-column field='status' header='{{getResourceLocal("resultsTable.colHeaders.col5")}}' sort='true'>
          <ng-template bkTemplate='body' let-bot='rowData' let-col='column' let-index='rowIndex'>
            {{bot.status.name}}
          </ng-template>
        </seer-column>
      </seer-datatable>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
