<div *ngIf="actionForm" class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">
        {{ actionModel.id === null ? getResourceLocal('maintainAction.pageHeadingCreate') : getResourceLocal('maintainAction.pageHeadingEdit') }}
      </h1>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="actionForm" novalidate>
    <div class="row">
      <div class="col-sm-12">
        <div class="table-box">
          <div class="content padded">
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <app-bk-input
                  [currentFormGroup]="actionForm"
                  currentFormControlName="name"
                  label="{{ getCommonResources('entity.name') }}"
                ></app-bk-input>
              </div>
              <!-- div class="col-lg-6 col-sm-12">
                <app-bk-input
                  [currentFormGroup]="actionForm"
                  label="{{ getCommonResources('entity.code') }}"
                  currentFormControlName="code"
                ></app-bk-input>
              </div> -->
            </div>
            <div class="row">
              <div class="col-sm-12">
                <app-bk-textarea
                  [currentFormGroup]="actionForm"
                  currentFormControlName="description"
                  label="{{ getCommonResources('entity.description') }}"
                ></app-bk-textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12" style="margin-bottom: 1em">
      <bk-button
        [disabled]="!actionForm.valid"
        intent="success"
        label="{{ getCommonResources('saveButton') }}"
        type="submit"
      ></bk-button>
      <bk-button
        (onClick)="revert()"
        intent="warning"
        label="{{ getCommonResources('revertButton') }}"
      ></bk-button
      >&nbsp;<bk-button
      (onClick)="cancel()"
      intent="danger"
      label="{{ getCommonResources('cancelButton') }}"
    ></bk-button>
    </div>
  </form>
</div>
