<div class="container-fluid" *ngIf="actionForm">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">
        {{ actionModel.id === null ? getResourceLocal('maintainAction.pageHeadingCreate'): getResourceLocal('maintainAction.pageHeadingEdit') }}
      </h1>
    </div>
  </div>
  <form [formGroup]="actionForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="row">
      <div class="col-sm-12">
        <div class="table-box">
          <div class="content padded">
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <app-bk-input
                  [currentFormGroup]="actionForm"
                  label="{{ getCommonResources('entity.name') }}"
                  currentFormControlName="name"
                ></app-bk-input>
              </div>
              <!-- div class="col-lg-6 col-sm-12">
                <app-bk-input
                  [currentFormGroup]="actionForm"
                  label="{{ getCommonResources('entity.code') }}"
                  currentFormControlName="code"
                ></app-bk-input>
              </div> -->
            </div>
            <div class="row">
              <div class="col-sm-12">
                <app-bk-textarea
                  [currentFormGroup]="actionForm"
                  label="{{ getCommonResources('entity.description') }}"
                  currentFormControlName="description"
                ></app-bk-textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-bottom: 1em" class="col-sm-12">
      <bk-button
        intent="success"
        [disabled]="!actionForm.valid"
        type="submit"
        label="{{ getCommonResources('saveButton') }}"
      ></bk-button>
      <bk-button *ngIf='actionModel.id !== null'
        intent="danger"
        type="button"
        (onClick)="delete(actionModel.id)"
        label="{{ getCommonResources('deleteButton') }}"
      ></bk-button
      ><bk-button
        (onClick)="revert()"
        intent="warning"
        label="{{ getCommonResources('revertButton') }}"
      ></bk-button
      >&nbsp;<bk-button
        (onClick)="cancel()"
        intent="danger"
        label="{{ getCommonResources('cancelButton') }}"
      ></bk-button>
    </div>
  </form>
</div>
