<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-12'>
      <h1 class='page-header'>
        Search Intents
      </h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <bk-datatable [records]='intentsResults' #bkTop5Heroes smallDeviceHeader='Top 5 Heroes' pageSize='6'>
        <bk-column header='Intent' sort='true' field='intent'></bk-column>
        <bk-column header='Utterance' sort='true' field='utterance'></bk-column>
        <bk-column header='Type' sort='true' field='category'>
          <ng-template let-col='column' let-cat='rowData' 
                  let-index='rowIndex' bkTemplate='body'>
            {{cat.category.name}}
          </ng-template>
        </bk-column>
      </bk-datatable>
    </div>
  </div>
</div>