<div *ngIf="categoryForm" class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1 *ngIf="currentAction === 'edit'" class="page-header">
        {{ getResourceLocal('maintainCategory.pageHeadingEdit') }}
      </h1>
      <h1 *ngIf="currentAction === 'add'" class="page-header">
        {{ getResourceLocal('maintainCategory.pageHeadingCreate') }}
      </h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <p><span
        class="green-glyphicon-subheading glyphicon glyphicon-plus"></span>{{getResourceLocal('maintainCategory.createCategoryVerbiage')}}
        <span (click)="help()" class="green-glyphicon-help glyphicon glyphicon-question-sign"
              title="Click for more details"></span>
      </p>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="categoryForm" novalidate>
    <div class="row">
      <div class="col-sm-12">
        <div class="table-box">
          <div class="content padded">
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <seer-input [currentFormGroup]="categoryForm" currentFormControlName="name"
                              label="{{ getCommonResources('entity.name') }}"></seer-input>
              </div>
              <div class="col-lg-6 col-sm-12">
                <seer-textarea [currentFormGroup]="categoryForm"
                                 currentFormControlName="description"
                                 label="{{ getCommonResources('entity.description') }}">
                </seer-textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12" style="margin-bottom: 1em">
      <seer-button [disabled]="!categoryForm.valid" intent="success" label="{{ getCommonResources('saveButton') }}"
                 type="submit"></seer-button>
      <seer-button (click)="showDeleteModel()" *ngIf='showDeleteButton()' intent="danger"
                 label="{{ getCommonResources('deleteButton') }}"></seer-button>
      <seer-button (onClick)="revert()" intent="warning" label="{{ getCommonResources('revertButton') }}"></seer-button>
      &nbsp;<seer-button (onClick)="cancel()" intent="danger" label="{{ getCommonResources('cancelButton') }}">
    </seer-button>
    </div>
  </form>

  <seer-custom-modal #mainCategoryModal>
    <div class="app-modal-header">
      <span class="red-glyphicon glyphicon glyphicon-exclamation-sign"
            style="margin-right:5px"> </span>{{ getCommonResources('deleteHeading') }}
    </div>
    <div class="app-modal-body">
      {{ getCommonResources('deleteMessage') }}
    </div>
    <div class="app-modal-footer">
      <seer-button (click)='deleteCategoryModal.hide()' intent="success" label="{{ getCommonResources('noButton') }}">
      </seer-button>
      <seer-button (click)="delete()" intent="danger" label="{{ getCommonResources('deleteButton') }}"></seer-button>
    </div>
  </seer-custom-modal>
</div>
