<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-12'><h1
      class='page-header'>{{getResource('maintainModels', 'searchTrainedModel.pageHeading')}}</h1></div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <p>
          <span
            class="green-glyphicon-subheading glyphicon glyphicon-search"></span>{{getResource('maintainModels', 'searchTrainedModel.searchVerbiage')}}
        <span (click)="localHelp()" class="green-glyphicon-help glyphicon glyphicon-question-sign"
              title="Click for more details"></span>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <seer-datatable [records]='modelResults' pageSize='6'>
        <seer-column field='name' header="{{getResource('searchBots', 'resultsTable.colHeaders.col1')}}" sort='true'>
          <ng-template bkTemplate='body' let-bot='rowData' let-col='column' let-index='rowIndex'>
            <a (click)="viewModel(bot.id)">{{bot.name}}</a>
          </ng-template>
        </seer-column>
        <seer-column field='description' header='{{getResource("searchBots", "resultsTable.colHeaders.col3")}}'
                   sort='true'></seer-column>
        <seer-column field='category' header='{{getResource("searchBots", "resultsTable.colHeaders.col4")}}' sort='true'>
          <ng-template bkTemplate='body' let-bot='rowData' let-col='column' let-index='rowIndex'>
            {{bot.category.name}}
          </ng-template>
        </seer-column>
      </seer-datatable>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
