<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-12'>
      <h1 class='page-header'>
        {{getHeading()}}
      </h1>
    </div>
  </div>
  <div *ngIf='intentsResults.length > 0' class='row'>
    <div class='col-sm-12'>
      <p><span class="green-glyphicon-subheading glyphicon glyphicon-list"></span>{{getResourceLocal('pageSubHeading')}}
      </p>
    </div>
  </div>
  <div #intentUpdated class="seerToast">
    <div class='toastImg'><span
      class="white-glyphicon glyphicon glyphicon-check"></span></div>
    <div class="message">Save Successful...</div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <bk-datatable #intentsResultsTable [noResultsFoundHeader]="noResultsFoundMessage" [records]='intentsResults'
                    pageSize='6'>

        <bk-column field='intent' header='{{getResourceLocal("resultsTable.colHeaders.col1")}}' sort='true'>
          <ng-template bkTemplate='body' let-col='column'
                       let-index='rowIndex' let-intent='rowData'>
            <a (click)="editIntent(intent.id)">{{intent.intent}}</a>
          </ng-template>
        </bk-column>

        <bk-column field='category' header='{{getResourceLocal("resultsTable.colHeaders.col3")}}' sort='true'>
          <ng-template bkTemplate='body' let-col='column'
                       let-index='rowIndex' let-intent='rowData'>
            {{intent.category.name}}
          </ng-template>
        </bk-column>
      </bk-datatable>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12' style='margin-bottom: 1em'>
      <hr class='dottedHr'/>
      <bk-button (click)="showDeleteAllPopup()" *ngIf='intentsResults.length > 0' intent='danger'
                 label='{{getCommonResources("deleteAllButton")}}'></bk-button>
      <bk-button (click)="addIntent()" intent='success'
                 label='{{getResourceLocal("addIntent")}}'></bk-button>
      <bk-button (click)="showCopyIntentsPopup()" *ngIf='intentsResults.length == 0' intent='danger'
                 label='{{getResourceLocal("copyIntents")}}'></bk-button>
      <bk-button (click)="backToCriteria()" intent='warning'
                 label='{{getCommonResources("goBackButton")}}'></bk-button>
    </div>
  </div>
</div>

<app-bk-custom-modal #deleteIntentsModalComp>
  <div class="app-modal-header">
    <span class="custom-glyphicon glyphicon glyphicon-exclamation-sign"></span>{{getResourceLocal('deleteAll')}}
  </div>
  <div class="app-modal-body">
    {{getResourceLocal('deleteAllMessage')}}
  </div>
  <div class="app-modal-footer">
    <bk-button (click)='deleteIntentsModal.hide()' intent="success" label="{{ getCommonResources('noButton') }}">
    </bk-button>
    <bk-button (click)="deleteAllIntents()" intent="danger"
               label="{{ getCommonResources('deleteButton') }}"></bk-button>
  </div>
</app-bk-custom-modal>

<app-bk-custom-modal #copyIntentsModalComp>
  <div class="app-modal-header">
    <span class="custom-glyphicon glyphicon glyphicon-exclamation-sign"></span>{{getResourceLocal('copyIntents')}}
  </div>
  <div class="app-modal-body">
    <form (ngSubmit)="copyIntents()" [formGroup]="intentCopyForm"
          novalidate>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-box">
            <div class="content padded">
              <div class="row">
                <div class="col-sm-12 btm-10margin">
                  <span class="labelSpan">{{getResourceLocal('currentBotCategory')}}
                    :</span> {{getSearchIntentsModel().category.name}}
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <app-bk-select [currentFormGroup]="intentCopyForm"
                                 [options]='category'
                                 currentFormControlName='sourceCategoryCode'
                                 label='{{getResource("searchIntents", "categoryLabel")}}'></app-bk-select>
                </div>
                <div class="col-lg-6 col-sm-12">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <bk-button (click)='hideCopyIntentsPopup()' intent="warning" label="{{ getCommonResources('noButton') }}">
          </bk-button>
          <bk-button intent="success" label="{{ getResourceLocal('copyIntents') }}" type='submit'></bk-button>
        </div>
      </div>
    </form>
  </div>
</app-bk-custom-modal>

<router-outlet></router-outlet>
