<div *ngIf='intentSearchForm' class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">
        {{getHeading()}}
      </h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <p>
        <span
          class="green-glyphicon-subheading glyphicon glyphicon-search"></span>{{getResource('searchIntents', 'searchVerbiage')}}
        <span (click)="help()" class="green-glyphicon-help glyphicon glyphicon-question-sign"
              title="Click for more details"></span>
      </p>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="intentSearchForm"
        novalidate>
    <div class="row">
      <div class="col-sm-12">
        <div class="table-box">
          <div class="content padded">
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <seer-input [currentFormGroup]="intentSearchForm"
                              currentFormControlName="intentName"
                              label='{{getResource("searchIntents", "intentLabel")}}'></seer-input>
              </div>
              <div class="col-lg-6 col-sm-12">
                <seer-input [currentFormGroup]="intentSearchForm"
                              currentFormControlName="utteranceLike"
                              label='{{getResource("searchIntents", "utteranceLikeLabel")}}'></seer-input>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <seer-select [currentFormGroup]="intentSearchForm"
                               [options]='category'
                               currentFormControlName='category'
                               label='{{getResource("searchIntents", "categoryLabel")}}'></seer-select>
              </div>
              <div class="col-lg-6 col-sm-12">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-12' style='margin-bottom: 1em'>
        <seer-button [currentFormGroup]="intentSearchForm" intent='success' label='{{getCommonResources("searchButton")}}'
                   type='submit'></seer-button>
        <seer-button (click)="revert()" intent='warning'
                   label='{{getCommonResources("resetButton")}}'></seer-button>
        <seer-button (click)="cancel()" intent='danger'
                   label='{{getCommonResources("cancelButton")}}'>>
        </seer-button>
      </div>
      <div [innerHTML]="getCommonResources('requiredIndicator')" class="col-sm-12"></div>
    </div>
  </form>
  <router-outlet></router-outlet>
</div>
