<div class="container-fluid" *ngIf='intentSearchForm'>
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">
        {{getHeading()}}
      </h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <p>
        <span
          class="green-glyphicon-subheading glyphicon glyphicon-search"></span>{{getResource('searchIntents', 'searchVerbiage')}}
        <span title="Click for more details" (click)="help()"
              class="green-glyphicon-help glyphicon glyphicon-question-sign"></span>
      </p>
    </div>
  </div>
  <form [formGroup]="intentSearchForm" (ngSubmit)="onSubmit()"
    novalidate>
    <div class="row">
      <div class="col-sm-12">
        <div class="table-box">
          <div class="content padded">
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <app-bk-input [currentFormGroup]="intentSearchForm" label='{{getResource("searchIntents", "intentLabel")}}'
                  currentFormControlName="intentName"></app-bk-input>
              </div>
              <div class="col-lg-6 col-sm-12">
                <app-bk-input [currentFormGroup]="intentSearchForm" label='{{getResource("searchIntents", "utteranceLikeLabel")}}'
                              currentFormControlName="utteranceLike"></app-bk-input>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                  <app-bk-select [currentFormGroup]="intentSearchForm"
                  label='{{getResource("searchIntents", "categoryLabel")}}' currentFormControlName='category'
                  [options]='category'></app-bk-select>
              </div>
              <div class="col-lg-6 col-sm-12">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
        <div style='margin-bottom: 1em' class='col-sm-12'>
          <bk-button intent='success' [currentFormGroup]="intentSearchForm" type='submit' 
              label='{{getCommonResources("searchButton")}}'></bk-button>
          <bk-button intent='warning' (click)="revert()" 
              label='{{getCommonResources("resetButton")}}'></bk-button>
          <bk-button intent='danger' (click)="cancel()" 
              label='{{getCommonResources("cancelButton")}}'>></bk-button>
        </div>
        <div class="col-sm-12" [innerHTML]="getCommonResources('requiredIndicator')"></div>
      </div>
  </form>
  <router-outlet></router-outlet>
</div>
