<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-12'>
            <h1 class='page-header'>Maintain Intents</h1>
        </div>
    </div>
    <form *ngIf='intentsForm' [formGroup]='intentsForm' (ngSubmit)='onSubmit($event)' #formDir='ngForm' novalidate>
        <div class='row'>
            <div class='col-sm-12'>
                <div class='table-box tp-10margin'>
                    <div class='content padded'>
                        <div class='row'>
                            <div class='col-lg-6 col-sm-12'>
                                <app-bk-input [currentForm]='formDir' label='Intent' currentFormControlName='intent'></app-bk-input>
                            </div>
                            <div class='col-lg-6 col-sm-12'>
                                <app-bk-input [currentForm]='formDir' label='Utterance' currentFormControlName='utterance'></app-bk-input>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-lg-6 col-sm-12'>
                                <app-bk-select [currentForm]='formDir' label='Category' currentFormControlName='category'
                                    [options]='category'></app-bk-select>
                            </div>
                            <div class='col-lg-6 col-sm-12'>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div style='margin-bottom: 1em' class='col-sm-12'>
                <bk-button intent='success' [currentForm]='formDir' type='submit' [label]='createButtonLabel'></bk-button>
                <bk-button intent='warning' (click)='revert()' label='Revert'></bk-button>&nbsp;
                <bk-button intent='danger' (click)='cancel()' label='Cancel'></bk-button>
            </div>
        </div>
    </form>
</div>