<div *ngIf='trainForm' class='container-fluid'>
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">{{getResourceLocal('trainModel.pageHeading')}}</h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <p>
        <span
          class="green-glyphicon-subheading glyphicon glyphicon-plus"></span>{{getResourceLocal('trainModel.createTrainedModel')}}
        <span (click)="help()" class="green-glyphicon-help glyphicon glyphicon-question-sign"
              title="Click for more details"></span>
      </p>
    </div>
  </div>
  <form (ngSubmit)='onSubmit($event)' [formGroup]='trainForm' novalidate>
    <div class='row'>
      <div class='col-sm-12'>
        <div class="table-box tp-10margin">
          <div class="content padded">
            <div class='row'>
              <div class="col-lg-6 col-sm-12">
                <app-bk-input [currentFormGroup]='trainForm' currentFormControlName='name'
                              label='{{getResourceLocal("trainModel.nameLabel")}}'></app-bk-input>
              </div>
              <div class="col-lg-6 col-sm-12">
                <app-bk-textarea [currentFormGroup]='trainForm'
                                 currentFormControlName='description'
                                 label='{{getResourceLocal("trainModel.descriptionNameLabel")}}'>
                </app-bk-textarea>
              </div>
            </div>
            <div class='row'>
              <div class="col-sm-12 col-lg-6">
                <app-bk-select [currentFormGroup]='trainForm' [options]='category'
                               currentFormControlName='category' label='{{getResourceLocal("trainModel.categoryLabel")}}'></app-bk-select>
              </div>
              <div class="col-sm-12 col-lg-6"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-12' style='margin-bottom: 1em'>
        <bk-button [currentFormGroup]='trainForm' intent='success' label='{{getCommonResources("saveButton")}}'
                   type='submit'></bk-button>
        <bk-button (click)="revert()" intent='warning' label='{{getCommonResources("revertButton")}}'></bk-button>
        <bk-button (click)="cancel()" intent='danger' label='{{getCommonResources("cancelButton")}}'>
        </bk-button>
      </div>
      <div [innerHTML]="getCommonResources('requiredIndicator')" class="col-sm-12"></div>
    </div>
    <!-- {{botForm.valid}}
    {{botForm.value | json}} -->
  </form>
</div>
<div *ngIf='trainModel && currentAction === "edit"' class='container-fluid'>
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">{{getResourceLocal('trainModel.pageHeading')}}</h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <div class="readOnlyTable panel panel-default">
        <div class="panel-body">
          <div class='row readOnlyRow'>
            <div class="col-sm-2 boldHeader">
              {{getResourceLocal("trainModel.nameLabel")}}:
            </div>
            <div class="col-sm-10">
              {{trainModel.name}}
            </div>
          </div>
          <div class='row readOnlyRow'>
            <div class="col-sm-2 boldHeader ">
              {{getResourceLocal("trainModel.descriptionNameLabel")}}:
            </div>
            <div class="col-sm-10">
              {{trainModel.description}}
            </div>
          </div>
          <div class='row readOnlyRow'>
            <div class="col-sm-2 boldHeader">
              {{getResourceLocal("trainModel.categoryLabel")}}:
            </div>
            <div class="col-sm-10">
              {{trainModel.category.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-12' style='margin-bottom: 1em'>
      <bk-button (click)="reTrainModel(trainModel.id)" intent='success' label='{{getCommonResources("reTrainButton")}}'>
      </bk-button>
      <bk-button (click)="showDeleteModel()" *ngIf='isDeleteAllowed()' intent='danger'
                 label='{{getCommonResources("deleteButton")}}'></bk-button>
      <bk-button (click)="cancel()" intent='warning' label='{{getCommonResources("cancelButton")}}'>>
      </bk-button>
    </div>
  </div>

  <app-bk-custom-modal (modalState)="errorModelState($event)">
    <div class="app-modal-header">
      <span
        class="custom-glyphicon glyphicon glyphicon-exclamation-sign"></span>{{getResourceLocal("trainModel.deleteHeading")}}
    </div>
    <div class="app-modal-body">
      {{getResourceLocal("trainModel.deleteMessage")}}
    </div>
    <div class="app-modal-footer">
      <bk-button (click)='deleteModelModal.hide()' intent="success" label="{{ getCommonResources('noButton') }}">
      </bk-button>
      <bk-button (click)="delete()" intent="danger" label="{{ getCommonResources('deleteButton') }}"></bk-button>
    </div>
  </app-bk-custom-modal>

</div>
