<seer-angular-loader></seer-angular-loader>
<seeradmin-header></seeradmin-header>
<seer-dynamic-modal #seerBotAdminDynamicModal></seer-dynamic-modal>
<seer-popout #popoutComponent></seer-popout>
<div class="wrapper">
  <seeradmin-left-menu *ngIf="isLoggedIn()"></seeradmin-left-menu>
  <div id="content">
    <seer-error-messages></seer-error-messages>
    <router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"></router-outlet>
  </div>
</div>

<seer-custom-modal #commonAppModal>
  <div class="app-modal-header">
    <span class="custom-glyphicon glyphicon glyphicon-exclamation-sign"></span>{{customModalData.header}}
  </div>
  <div class="app-modal-body">
    {{customModalData.bodyMessage}}
  </div>
  <div class="app-modal-footer">
    <seer-button (click)='commonAppModal.hide()' intent="success" label="{{ customModalData.buttonOk }}">
    </seer-button>
  </div>
</seer-custom-modal>
