<app-angular-loader></app-angular-loader>
<app-header></app-header>
<app-bk-dynamic-modal #seerBotAdminDynamicModal></app-bk-dynamic-modal>
<app-bk-popout #popoutComponent></app-bk-popout>
<div class="wrapper">
  <app-left-menu *ngIf="isLoggedIn()"></app-left-menu>
  <div id="content">
    <app-bk-error-messages></app-bk-error-messages>
    <router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"></router-outlet>
  </div>
</div>

<app-bk-custom-modal #commonAppModal>
  <div class="app-modal-header">
    <span class="custom-glyphicon glyphicon glyphicon-exclamation-sign"></span>{{customModalData.header}}
  </div>
  <div class="app-modal-body">
    {{customModalData.bodyMessage}}
  </div>
  <div class="app-modal-footer">
    <bk-button (click)='commonAppModal.hide()' intent="success" label="{{ customModalData.buttonOk }}">
    </bk-button>
  </div>
</app-bk-custom-modal>
