<div class="container-fluid" *ngIf="intentsForm">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">{{getHeading()}}</h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <p><span class="green-glyphicon-subheading glyphicon glyphicon-plus"></span>{{getResourceLocal('addIntent.pageSubHeading')}}
        <span title="Click for more details" (click)="help()"
              class="green-glyphicon-help glyphicon glyphicon-question-sign"></span>
      </p>
    </div>
  </div>
  <form [formGroup]="intentsForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="row">
      <div class="col-sm-12">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                  (click)="selectEntryType('enterDetails')"><span class="glyphicon glyphicon-edit">
                  </span>{{cmsContent.addIntent.enterIntent}}</a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body content padded">
                <div class="row" *ngIf="selectedEntryOption === 'enterDetails'">
                  <div class="col-sm-12">
                    <app-bk-input #intentTextBox [currentFormGroup]="intentsForm"
                      label="{{cmsContent.addIntent.intentLabel}}" currentFormControlName="intent"></app-bk-input>
                  </div>
                  <div class="col-sm-12">
                    <div formArrayName="utterances" class="row">
                      <div class="col-sm-12">
                        <span>Utterance</span>
                        <span (click)="addUtterance()" title="{{getResourceLocal('addIntent.addUtterance')}}"
                          class="green-glyphicon glyphicon glyphicon-plus-sign"></span>
                        <!-- <span *ngIf="utterances.controls.length > 1" (click)="removeLastUtterance()"
                              class="custom-glyphicon glyphicon glyphicon-remove-sign"></span> -->
                      </div>
                      <div class="col-sm-12" *ngFor="let utteranceGrp of utterances.controls; let i=index">
                        <div class="row">
                          <div class="col-sm-1" style="text-align: right">
                          </div>
                          <div class="col-sm-11">
                            <label class="center-block" for='utterances_utterance{{i}}'>Utterance {{i + 1}}
                              <span class="glyphicon glyphicon-asterisk icon-required"></span>
                              <span title="{{getResourceLocal('addIntent.removeUtterance')}}"
                                *ngIf="i !== 0 && utterances.controls.length > 1" (click)="removeCurrentUtterance(i)"
                                class="red-glyphicon glyphicon glyphicon-remove-sign"></span>
                              <span title="{{getResourceLocal('addIntent.removeUtterance')}}"
                                *ngIf="i === (utterances.controls.length -1)" (click)="addUtterance()"
                                class="green-glyphicon glyphicon glyphicon-plus-sign"></span>
                              <app-bk-input controlId="utterances_utterance{{i}}" [currentFormGroup]="utteranceGrp"
                                currentFormControlName="utterance"></app-bk-input>
                            </label>
                          </div>
                          <!-- <div class="col-sm-5">
                            <app-bk-select [currentFormGroup]="utteranceGrp" label="Locale {{i + 1}}"
                                           currentFormControlName="locale" [options]="locales"></app-bk-select>
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div formArrayName="responses" class="row">
                      <div class="col-sm-12">
                        <span>{{getResourceLocal('addIntent.exactMatchResponse')}}</span>
                        <!-- <span (click)="addResponse()" class="custom-glyphicon glyphicon glyphicon-plus-sign"></span> -->
                      </div>
                      <div class="col-sm-12" *ngFor="let responsesGrp of responses.controls; let i=index">
                        <div class="row">
                          <div class="col-sm-1">&nbsp;</div>
                          <div class="col-md-11">
                            <label class="center-block" for='responses_response{{i}}'>Response
                              <!-- {{i + 1}} -->
                              <span class="glyphicon glyphicon-asterisk icon-required"></span>
                              <span *ngIf="i !== 0 && responses.controls.length > 1" (click)="removeLastResponse(i)"
                                class="custom-glyphicon glyphicon glyphicon-remove-sign"></span>
                              <app-bk-textarea controlId="responses_response{{i}}" [currentFormGroup]="responsesGrp"
                                currentFormControlName="response"></app-bk-textarea>
                            </label>
                          </div>
                          <!-- <div class="col-md-3">
                            <app-bk-select [currentFormGroup]="responsesGrp" label="Response Type {{i + 1}}"
                                           currentFormControlName="responseType"
                                           [options]="responseTypes"></app-bk-select>
                          </div> -->
                          <!-- <div class="col-md-5">
                            <app-bk-select [currentFormGroup]="responsesGrp" label="Locale {{i + 1}}"
                                           currentFormControlName="locale" [options]="locales"></app-bk-select>
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-12">
                        {{getResourceLocal('addIntent.closeMatchResponse')}}
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-12" *ngFor="let responsesGrp of mayBeIntentResponses.controls; let j=index">
                        <div class="row">
                          <div class="col-sm-1">&nbsp;</div>
                          <div class="col-md-11">
                            <app-bk-textarea controlId="responses_response{{j}}" label="Response"
                              [currentFormGroup]="responsesGrp" currentFormControlName="response"></app-bk-textarea>
                          </div>
                          <!-- <div class="col-md-5">
                            <app-bk-select [currentFormGroup]="responsesGrp" label="Locale"
                                           currentFormControlName="locale" [options]="locales"></app-bk-select>
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default" *ngIf='currentAction === "add" && showIntentFileUpload'>
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                  (click)="selectEntryType('upload')"><span class="glyphicon glyphicon-cloud-upload">
                  </span>{{cmsContent.addIntent.uploadIntents}}</a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body content padded">
                <div class="row">
                  <div class="col-lg-6 col-sm-12">
                    <div class="input-group">
                      <label class="input-group-btn">
                        <span class="btn btn-primary">
                          Select File&nbsp;<span class="glyphicon glyphicon-asterisk icon-required"></span><input
                            name="intentsFileUpload" (change)="fileChangeEvent($event)" #intentsFile type="file"
                            style="display: none;">
                        </span>
                      </label>
                      <input type="text" class="form-control" #showFileName readonly>
                    </div>
                    <div *ngIf='showfileRequiredError()' class="errorMessage">
                      This is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default" *ngIf='currentAction === "add" && currentContext === "custom"'>
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"
                  (click)="selectEntryType('copy')"><span class="glyphicon glyphicon-copy">
                  </span>{{cmsContent.addIntent.copyIntents}}</a>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body content padded">
                <div class="row">
                  <div class="col-lg-6 col-sm-12">
                    {{cmsContent.addIntent.copyIntentsMsg}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class="col-lg-6 col-sm-12">
        <app-bk-select [currentFormGroup]="intentsForm" #selectCategory label="{{cmsContent.addIntent.categoryLabel}}"
          currentFormControlName="category" [options]="category"></app-bk-select>
      </div>
    </div>
    <div class="row">
      <div style="margin-bottom: 1em" class="col-sm-12">
        <bk-button intent="success" type="submit" label="{{ getSubmitButtonLabel() }}"></bk-button>
        <bk-button intent="danger" *ngIf='isDeleteAllowed()' (click)="showDeleteModel()"
          label="{{ getCommonResources('deleteButton') }}">
        </bk-button>
        <bk-button intent="warning" (click)="revert()" label="{{ getCommonResources('revertButton') }}"></bk-button>
        <bk-button intent="danger" (click)="cancel()" label="{{ getCommonResources('cancelButton') }}"></bk-button>
      </div>
      <div class="col-sm-12" [innerHTML]="getCommonResources('requiredIndicator')"></div>
    </div>
  </form>

  <app-bk-custom-modal>
    <div class="app-modal-header">
      <span class="custom-glyphicon glyphicon glyphicon-exclamation-sign"></span>{{cmsContent.editIntent.deleteHeading}}
    </div>
    <div class="app-modal-body">
      {{cmsContent.editIntent.deleteMessage}}
    </div>
    <div class="app-modal-footer">
      <bk-button intent="success" (click)='deleteIntentModal.hide()' label="{{ getCommonResources('noButton') }}">
      </bk-button>
      <bk-button intent="danger" (click)="delete()" label="{{ getCommonResources('deleteButton') }}"></bk-button>
    </div>
  </app-bk-custom-modal>

  <!-- {{intentsForm.get('mayBeIntent').value   | json}} -->
</div>
