<div *ngIf="intentsForm" class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">{{getHeading()}}</h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <p><span
        class="green-glyphicon-subheading glyphicon glyphicon-plus"></span>{{getResourceLocal('addIntent.pageSubHeading')}}
        <span (click)="help()" class="green-glyphicon-help glyphicon glyphicon-question-sign"
              title="Click for more details"></span>
      </p>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="intentsForm" novalidate>
    <div class="row">
      <div class="col-sm-12">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a (click)="selectEntryType('enterDetails')" data-parent="#accordion" data-toggle="collapse"
                   href="#collapseOne"><span class="glyphicon glyphicon-edit">
                  </span>{{cmsContent.addIntent.enterIntent}}</a>
              </h4>
            </div>
            <div class="panel-collapse collapse in" id="collapseOne">
              <div class="panel-body content padded">
                <div *ngIf="selectedEntryOption === 'enterDetails'" class="row">
                  <div class="col-sm-12">
                    <app-bk-input #intentTextBox *ngIf='!isDeleteAllowed()' [currentFormGroup]="intentsForm"
                                  currentFormControlName="intent"
                                  label="{{cmsContent.addIntent.intentLabel}}"></app-bk-input>
                    <div *ngIf='isDeleteAllowed()' class="readOnlyIntentInfo">
                      <span class="intentLabel">{{cmsContent.addIntent.intentLabel}}
                        : {{intentsForm.get('intent').value}}</span>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="row" formArrayName="utterances">
                      <div *ngIf="canAddUtterance()" class="col-sm-12">
                        <span>Utterance</span>
                        <span (click)="addUtterance()" class="green-glyphicon glyphicon glyphicon-plus-sign"
                              title="{{getResourceLocal('addIntent.addUtterance')}}"></span>
                        <!-- <span *ngIf="utterances.controls.length > 1" (click)="removeLastUtterance()"
                              class="custom-glyphicon glyphicon glyphicon-remove-sign"></span> -->
                      </div>
                      <div *ngFor="let utteranceGrp of utterances.controls; let i=index" class="col-sm-12">
                        <div *ngIf="canAddUtterance()" class="row">
                          <div class="col-sm-1" style="text-align: right">
                          </div>
                          <div class="col-sm-11">
                            <label class="center-block" for='utterances_utterance{{i}}'>Utterance {{i + 1}}
                              <span class="glyphicon glyphicon-asterisk icon-required"></span>
                              <span (click)="removeCurrentUtterance(i)"
                                    *ngIf="i !== 0 && utterances.controls.length > 1"
                                    class="red-glyphicon glyphicon glyphicon-remove-sign"
                                    title="{{getResourceLocal('addIntent.removeUtterance')}}"></span>
                              <span (click)="addUtterance()"
                                    *ngIf="i === (utterances.controls.length -1)"
                                    class="green-glyphicon glyphicon glyphicon-plus-sign"
                                    title="{{getResourceLocal('addIntent.removeUtterance')}}"></span>
                              <app-bk-input [currentFormGroup]="utteranceGrp" controlId="utterances_utterance{{i}}"
                                            currentFormControlName="utterance"></app-bk-input>
                            </label>
                          </div>
                          <!-- <div class="col-sm-5">
                            <app-bk-select [currentFormGroup]="utteranceGrp" label="Locale {{i + 1}}"
                                           currentFormControlName="locale" [options]="locales"></app-bk-select>
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="row" formArrayName="responses">
                      <div class="col-sm-12">
                        <span>{{getResourceLocal('addIntent.exactMatchResponse')}}</span>
                        <!-- <span (click)="addResponse()" class="custom-glyphicon glyphicon glyphicon-plus-sign"></span> -->
                      </div>
                      <div *ngFor="let responsesGrp of responses.controls; let i=index" class="col-sm-12">
                        <div class="row">
                          <div class="col-sm-1">&nbsp;</div>
                          <div class="col-md-11">
                            <label class="center-block" for='responses_response{{i}}'>Response
                              <!-- {{i + 1}} -->
                              <span class="glyphicon glyphicon-asterisk icon-required"></span>
                              <span (click)="removeLastResponse(i)" *ngIf="i !== 0 && responses.controls.length > 1"
                                    class="custom-glyphicon glyphicon glyphicon-remove-sign"></span>
                              <app-bk-textarea [currentFormGroup]="responsesGrp" controlId="responses_response{{i}}"
                                               currentFormControlName="response"></app-bk-textarea>
                            </label>
                          </div>
                          <!-- <div class="col-md-3">
                            <app-bk-select [currentFormGroup]="responsesGrp" label="Response Type {{i + 1}}"
                                           currentFormControlName="responseType"
                                           [options]="responseTypes"></app-bk-select>
                          </div> -->
                          <!-- <div class="col-md-5">
                            <app-bk-select [currentFormGroup]="responsesGrp" label="Locale {{i + 1}}"
                                           currentFormControlName="locale" [options]="locales"></app-bk-select>
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-12">
                        {{getResourceLocal('addIntent.closeMatchResponse')}}
                      </div>
                    </div>

                    <div class="row">
                      <div *ngFor="let responsesGrp of mayBeIntentResponses.controls; let j=index" class="col-sm-12">
                        <div class="row">
                          <div class="col-sm-1">&nbsp;</div>
                          <div class="col-md-11">
                            <app-bk-textarea [currentFormGroup]="responsesGrp" controlId="responses_response{{j}}"
                                             currentFormControlName="response"
                                             label="Response"></app-bk-textarea>
                          </div>
                          <!-- <div class="col-md-5">
                            <app-bk-select [currentFormGroup]="responsesGrp" label="Locale"
                                           currentFormControlName="locale" [options]="locales"></app-bk-select>
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf='currentAction === "add" && showIntentFileUpload' class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a (click)="selectEntryType('upload')" data-parent="#accordion" data-toggle="collapse"
                   href="#collapseTwo"><span class="glyphicon glyphicon-cloud-upload">
                  </span>{{cmsContent.addIntent.uploadIntents}}</a>
              </h4>
            </div>
            <div class="panel-collapse collapse" id="collapseTwo">
              <div class="panel-body content padded">
                <div class="row">
                  <div class="col-lg-6 col-sm-12">
                    <div class="input-group">
                      <label class="input-group-btn">
                        <span class="btn btn-primary">
                          Select File&nbsp;<span class="glyphicon glyphicon-asterisk icon-required"></span><input
                          #intentsFile (change)="fileChangeEvent($event)" name="intentsFileUpload"
                          style="display: none;"
                          type="file">
                        </span>
                      </label>
                      <input #showFileName class="form-control" readonly type="text">
                    </div>
                    <div *ngIf='showfileRequiredError()' class="errorMessage">
                      This is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf='currentAction === "add" && currentContext === "custom"' class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a (click)="selectEntryType('copy')" data-parent="#accordion" data-toggle="collapse"
                   href="#collapse3"><span class="glyphicon glyphicon-copy">
                  </span>{{cmsContent.addIntent.copyIntents}}</a>
              </h4>
            </div>
            <div class="panel-collapse collapse" id="collapse3">
              <div class="panel-body content padded">
                <div class="row">
                  <div class="col-lg-6 col-sm-12">
                    {{cmsContent.addIntent.copyIntentsMsg}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class="col-lg-6 col-sm-12">
        <app-bk-select #selectCategory *ngIf="!isDeleteAllowed()" [currentFormGroup]="intentsForm"
                       [options]="category"
                       currentFormControlName="category" label="{{cmsContent.addIntent.categoryLabel}}"></app-bk-select>
        <div *ngIf="isDeleteAllowed()" class="btm-20margin"><span
          class="labelSpan">{{cmsContent.addIntent.categoryLabel}}:</span> {{intentsModel.category.name}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" style="margin-bottom: 1em">
        <bk-button [disabled]="!intentsForm.valid" intent="success" label="{{ getSubmitButtonLabel() }}" type="submit"></bk-button>
        <bk-button (click)="showDeleteModel()" *ngIf='isDeleteAllowed()' intent="danger"
                   label="{{ getCommonResources('deleteButton') }}">
        </bk-button>
        <bk-button (click)="revert()" intent="warning" label="{{ getCommonResources('revertButton') }}"></bk-button>
        <bk-button (click)="cancel()" intent="danger" label="{{ getCommonResources('doneButton') }}"></bk-button>
      </div>
      <div [innerHTML]="getCommonResources('requiredIndicator')" class="col-sm-12"></div>
    </div>
  </form>

  <app-bk-custom-modal>
    <div class="app-modal-header">
      <span class="custom-glyphicon glyphicon glyphicon-exclamation-sign"></span>{{cmsContent.editIntent.deleteHeading}}
    </div>
    <div class="app-modal-body">
      {{cmsContent.editIntent.deleteMessage}}
    </div>
    <div class="app-modal-footer">
      <bk-button (click)='deleteIntentModal.hide()' intent="success" label="{{ getCommonResources('noButton') }}">
      </bk-button>
      <bk-button (click)="delete()" intent="danger" label="{{ getCommonResources('deleteButton') }}"></bk-button>
    </div>
  </app-bk-custom-modal>

  <!--
    {{intentsForm.get('category').value   | json}}
  -->
</div>
