<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-12'><h1 class='page-header'>
      {{getResourceLocal('pageHeading')}}
    </h1></div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <p><span
        class="green-glyphicon-subheading glyphicon glyphicon-plus"></span>{{getResourceLocal('heading')}}
        <span (click)="localHelp()" class="green-glyphicon-help glyphicon glyphicon-question-sign"
              title="Click for more details"></span>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <bk-datatable #botTransactionsWidget [records]='botTransactions' pageSize='6'>
        <bk-column field='name' header='{{getResourceLocal("botName")}}'
                   sort='true'></bk-column>
        <bk-column field='name' header='{{getResourceLocal("totalChats")}}'
                   sort='true'>
          <ng-template bkTemplate='body' let-col='column' let-index='rowIndex' let-trans='rowData'>
            {{trans.successTransactions.length + trans.failureTransactions.length + trans.maybeTransactions.length}}
          </ng-template>
        </bk-column>
        <bk-column field='name' header='{{getResourceLocal("successChats")}}'
                   sort='true'>
          <ng-template bkTemplate='body' let-col='column' let-index='rowIndex' let-trans='rowData'>
            {{trans.percentageSuccess}}%
          </ng-template>
        </bk-column>
        <bk-column field='name' header='{{getResourceLocal("partialChats")}}'
                   sort='true'>
          <ng-template bkTemplate='body' let-col='column' let-index='rowIndex' let-trans='rowData'>
            <a (click)="manageUtteranceAndIntents(trans.id, 'maybe')"
               *ngIf="trans.percentageMaybe > 0">{{trans.percentageMaybe}}%</a>
            <div *ngIf="trans.percentageMaybe === 0">{{trans.percentageMaybe}}%</div>
          </ng-template>
        </bk-column>
        <bk-column field='name' header='{{getResourceLocal("failedChats")}}'
                   sort='true'>
          <ng-template bkTemplate='body' let-col='column' let-index='rowIndex' let-trans='rowData'>
            <a (click)="manageUtteranceAndIntents(trans.id, 'failed')"
               *ngIf="trans.percentageFailure > 0">{{trans.percentageFailure}}%</a>
            <div *ngIf="trans.percentageFailure === 0">{{trans.percentageFailure}}%</div>
          </ng-template>
        </bk-column>
      </bk-datatable>
    </div>
  </div>

  <div #messageTrained class="seerToast">
    <div class='toastImg'><span
      class="white-glyphicon glyphicon glyphicon-check"></span></div>
    <div class="message">Save Successful...</div>
  </div>

  <div *ngIf="intentsForm" class='row'>
    <div class='col-sm-12'>
      <h1 *ngIf="matchType === 'maybe'" class='page-header'>
        {{getResourceLocal('partialChatsHeading')}}
      </h1>
      <h1 *ngIf="matchType === 'failed'" class='page-header'>
        {{getResourceLocal('failedChatsHeading')}}
      </h1>
    </div>
  </div>
  <div *ngIf="intentsForm" class='row'>
    <div class='col-sm-12'>
      <p *ngIf="matchType === 'failed' && utteranceToIntents.controls.length > 0"><span
        class="green-glyphicon-subheading glyphicon glyphicon-edit"></span>{{getResourceLocal('failedHeading')}}
      </p>
      <p *ngIf="matchType === 'maybe' && utteranceToIntents.controls.length > 0">
        <span class="green-glyphicon-subheading glyphicon glyphicon-edit"></span>{{getResourceLocal('maybeHeading')}}
      </p>
      <p *ngIf="utteranceToIntents.controls.length === 0"><span
        class="green-glyphicon-subheading glyphicon glyphicon-edit"></span>{{getResourceLocal('noRecordsHeading')}}
      </p>
    </div>
  </div>
  <form (ngSubmit)='onSubmit()' *ngIf="intentsForm && utteranceToIntents.controls.length > 0" [formGroup]='intentsForm'
        novalidate>
    <div class='row'>
      <div class='col-sm-12'>
        <div class="table-box tp-10margin">
          <div class="content padded">
            <div class="row" formArrayName="utteranceToIntents">
              <div *ngFor="let utteranceGrp of utteranceToIntents.controls; let i=index" class="col-sm-12">
                <div class="row">
                  <!--<div class="col-sm-2">
                    <app-bk-checkbox controlId="ignoreBox{{i}}" [value]="'true'" (onClick)="onCheckBoxSelected($event)"
                                     [currentFormGroup]="utteranceGrp" label="Ignore"
                                     currentFormControlName="ignore"></app-bk-checkbox>
                  </div>-->
                  <div class="col-sm-7">
                    <app-bk-input [currentFormGroup]="utteranceGrp" controlId="utterance{{i}}"
                                  currentFormControlName="utterance"
                                  label="Utterance"></app-bk-input>
                  </div>
                  <div class="col-sm-3">
                    <app-bk-select [currentFormGroup]="utteranceGrp" [options]="currentIntents" controlId="intent{{i}}"
                                   currentFormControlName="intentId" label="Intent"></app-bk-select>
                  </div>
                  <div class="col-sm-2">
                    <label>Matched Against</label>
                    {{utteranceGrp.get('matchedIntent').value}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <!-- {{getFormValidationErrors(botForm.controls) | json}} -->
      <div class='col-sm-12' style='margin-bottom: 1em'>
        <bk-button [currentFormGroup]='intentsForm' intent='success' label='{{getCommonResources("saveButton")}}'
                   type='submit'></bk-button>
        <bk-button (click)="cancel()" intent='danger' label='{{getCommonResources("cancelButton")}}'
                   type='button'></bk-button>
      </div>
      <div [innerHTML]="getCommonResources('requiredIndicator')" class="col-sm-12"></div>
    </div>
  </form>
</div>
<router-outlet></router-outlet>
