<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-12'><h1 class='page-header'>
      {{getResourceLocal('pageHeading')}}
    </h1></div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <p><span
        class="green-glyphicon-subheading glyphicon glyphicon-plus"></span>{{getResourceLocal('heading')}}
        <span title="Click for more details" (click)="help()"
              class="green-glyphicon-help glyphicon glyphicon-question-sign"></span>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <bk-datatable [records]='botTransactions' #botTransactionsWidget pageSize='6'>
        <bk-column header='{{getResourceLocal("botName")}}' sort='true'
                   field='name'></bk-column>
        <bk-column header='{{getResourceLocal("totalChats")}}' sort='true'
                   field='name'>
          <ng-template let-col='column' let-trans='rowData' let-index='rowIndex' bkTemplate='body'>
            {{trans.successTransactions.length + trans.failureTransactions.length + trans.maybeTransactions.length}}
          </ng-template>
        </bk-column>
        <bk-column header='{{getResourceLocal("successChats")}}' sort='true'
                   field='name'>
          <ng-template let-col='column' let-trans='rowData' let-index='rowIndex' bkTemplate='body'>
            {{trans.percentageSuccess}}%
          </ng-template>
        </bk-column>
        <bk-column header='{{getResourceLocal("partialChats")}}' sort='true'
                   field='name'>
          <ng-template let-col='column' let-trans='rowData' let-index='rowIndex' bkTemplate='body'>
            <a *ngIf="trans.percentageMaybe > 0"
               (click)="manageUtteranceAndIntents(trans.id, 'maybe')">{{trans.percentageMaybe}}%</a>
            <div *ngIf="trans.percentageMaybe === 0">{{trans.percentageMaybe}}%</div>
          </ng-template>
        </bk-column>
        <bk-column header='{{getResourceLocal("failedChats")}}' sort='true'
                   field='name'>
          <ng-template let-col='column' let-trans='rowData' let-index='rowIndex' bkTemplate='body'>
            <a *ngIf="trans.percentageMaybe > 0"
               (click)="manageUtteranceAndIntents(trans.id, 'failed')">{{trans.percentageFailure}}%</a>
            <div *ngIf="trans.percentageMaybe === 0">{{trans.percentageFailure}}%</div>
          </ng-template>
        </bk-column>
      </bk-datatable>
    </div>
  </div>

  <div #messageTrained class="seerToast">
    <div class='toastImg'><span
      class="white-glyphicon glyphicon glyphicon-check"></span></div>
    <div class="message">Save Successful...</div>
  </div>

  <div class='row' *ngIf="intentsForm">
    <div class='col-sm-12'>
      <h1 *ngIf="matchType === 'maybe'" class='page-header'>
        {{getResourceLocal('partialChatsHeading')}}
      </h1>
      <h1 *ngIf="matchType === 'failed'" class='page-header'>
        {{getResourceLocal('failedChatsHeading')}}
      </h1>
    </div>
  </div>
  <div class='row' *ngIf="intentsForm">
    <div class='col-sm-12'>
      <p *ngIf="matchType === 'failed' && utteranceToIntents.controls.length > 0"><span
        class="green-glyphicon-subheading glyphicon glyphicon-edit"></span>{{getResourceLocal('failedHeading')}}
      </p>
      <p *ngIf="matchType === 'maybe' && utteranceToIntents.controls.length > 0">
        <span class="green-glyphicon-subheading glyphicon glyphicon-edit"></span>{{getResourceLocal('maybeHeading')}}
      </p>
      <p *ngIf="utteranceToIntents.controls.length === 0"><span
        class="green-glyphicon-subheading glyphicon glyphicon-edit"></span>{{getResourceLocal('noRecordsHeading')}}
      </p>
    </div>
  </div>
  <form [formGroup]='intentsForm' (ngSubmit)='onSubmit()' *ngIf="intentsForm && utteranceToIntents.controls.length > 0"
        novalidate>
    <div class='row'>
      <div class='col-sm-12'>
        <div class="table-box tp-10margin">
          <div class="content padded">
            <div formArrayName="utteranceToIntents" class="row">
              <div class="col-sm-12" *ngFor="let utteranceGrp of utteranceToIntents.controls; let i=index">
                <div class="row">
                  <!--<div class="col-sm-2">
                    <app-bk-checkbox controlId="ignoreBox{{i}}" [value]="'true'" (onClick)="onCheckBoxSelected($event)"
                                     [currentFormGroup]="utteranceGrp" label="Ignore"
                                     currentFormControlName="ignore"></app-bk-checkbox>
                  </div>-->
                  <div class="col-sm-7">
                    <app-bk-input controlId="utterance{{i}}" [currentFormGroup]="utteranceGrp"
                                  label="Utterance"
                                  currentFormControlName="utterance"></app-bk-input>
                  </div>
                  <div class="col-sm-3">
                    <app-bk-select controlId="intent{{i}}" [currentFormGroup]="utteranceGrp" label="Intent"
                                   currentFormControlName="intentId" [options]="currentIntents"></app-bk-select>
                  </div>
                  <div class="col-sm-2">
                    <label>Matched Against</label>
                    {{utteranceGrp.get('matchedIntent').value}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <!-- {{getFormValidationErrors(botForm.controls) | json}} -->
      <div style='margin-bottom: 1em' class='col-sm-12'>
        <bk-button intent='success' [currentFormGroup]='intentsForm' type='submit'
                   label='{{getCommonResources("saveButton")}}'></bk-button>
        <bk-button intent='danger' type='button' (click)="cancel()"
                   label='{{getCommonResources("cancelButton")}}'></bk-button>
      </div>
      <div class="col-sm-12" [innerHTML]="getCommonResources('requiredIndicator')"></div>
    </div>
  </form>
</div>
<router-outlet></router-outlet>
