<div *ngIf="categorySearchForm" class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">
        {{ getResourceLocal('maintainCategory.pageHeadingSearch') }}
      </h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <p>
        <span
          class="green-glyphicon-subheading glyphicon glyphicon-plus"></span>{{getResourceLocal('maintainCategory.editCategoryVerbiage')}}
        <span (click)="help()" class="green-glyphicon-help glyphicon glyphicon-question-sign"
              title="Click for more details"></span>
      </p>
    </div>
  </div>
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="categorySearchForm"
    novalidate
  >
    <div class="row">
      <div class="col-sm-12">
        <div class="table-box">
          <div class="content padded">
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <app-bk-input
                  [currentFormGroup]="categorySearchForm"
                  currentFormControlName="name"
                  label="{{ getCommonResources('entity.name') }}"
                ></app-bk-input>
              </div>
              <div class="col-lg-6 col-sm-12">
                <app-bk-input
                  [currentFormGroup]="categorySearchForm"
                  currentFormControlName="code"
                  label="{{
                    getCommonResources('entity.code')
                  }}"
                ></app-bk-input>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12" style="margin-bottom: 1em">
      <bk-button
        [disabled]="!categorySearchForm.valid"
        intent="success"
        label="{{getCommonResources('searchButton')}}"
        type="submit"
      ></bk-button
      >
      <bk-button
        (onClick)="revertChanges()"
        intent="warning"
        label="{{getCommonResources('revertButton')}}"
      ></bk-button
      >&nbsp;<bk-button
      (onClick)="cancel()"
      intent="danger"
      label="{{getCommonResources('cancelButton')}}"
    ></bk-button>
    </div>
  </form>
</div>
