<div class="container-fluid" *ngIf="categorySearchForm">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">
        {{ getResourceLocal('searchCategory.pageHeading') }}
      </h1>
    </div>
  </div>
  <form
    [formGroup]="categorySearchForm"
    (ngSubmit)="onSubmit()"
    novalidate
  >
    <div class="row">
      <div class="col-sm-12">
        <div class="table-box">
          <div class="content padded">
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <app-bk-input
                  [currentFormGroup]="categorySearchForm"
                  label="{{ getResourceLocal('searchCategory.nameLabel') }}"
                  currentFormControlName="name"
                ></app-bk-input>
              </div>
              <div class="col-lg-6 col-sm-12">
                <app-bk-input
                  [currentFormGroup]="categorySearchForm"
                  label="{{
                    getResourceLocal('searchCategory.codeLabel')
                  }}"
                  currentFormControlName="code"
                ></app-bk-input>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-bottom: 1em" class="col-sm-12">
      <bk-button
        intent="success"
        [disabled]="!categorySearchForm.valid"
        type="submit"
        label="{{getCommonResources('searchButton')}}"
      ></bk-button
      ><bk-button
        (onClick)="revertChanges()"
        intent="warning"
        label="{{getCommonResources('revertButton')}}"
      ></bk-button
      >&nbsp;<bk-button
        (onClick)="cancel()"
        intent="danger"
        label="{{getCommonResources('cancelButton')}}"
      ></bk-button>
    </div>
  </form>
</div>
