<div *ngIf="policyForm" class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">
        {{ policyModel.id === null ? getResourceLocal('maintainPolicy.pageHeadingCreate') : getResourceLocal('maintainPolicy.pageHeadingEdit') }}
      </h1>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="policyForm" novalidate>
    <div class="row">
      <div class="col-sm-12">
        <div class="table-box">
          <div class="content padded">
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <app-bk-input
                  [currentFormGroup]="policyForm"
                  currentFormControlName="name"
                  label="{{ getCommonResources('entity.name') }}"
                ></app-bk-input>
              </div>
              <div class="col-lg-6 col-sm-12">
                <app-bk-textarea
                  [currentFormGroup]="policyForm"
                  currentFormControlName="description"
                  label="{{ getCommonResources('entity.description') }}"
                ></app-bk-textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                {{ getResourceLocal('maintainPolicy.statementHeading') }}
              </div>
            </div>
            <div
              *ngFor="let statement of statements.controls; let i = index"
              class="row">
              <div class="col-lg-1 col-sm-12">
                <span (click)="addStatement()"
                      *ngIf="statements.controls.length > 0"
                      class="custom-glyphicon glyphicon glyphicon-plus-sign"></span>
                <span (click)="removeCurrentStatement(i)"
                      *ngIf="i !== 0 && statements.controls.length > 0"
                      class="custom-glyphicon glyphicon glyphicon-remove-sign"></span>
              </div>
              <div class="col-lg-4 col-sm-12">

                <app-bk-select
                  (onSelect)="processResourceSelection($event, statement)"
                  [currentFormGroup]="statement"
                  [options]="resourcesOptions"
                  currentFormControlName="resourceCode"
                  label="{{ getResourceLocal('maintainPolicy.resource') }}"
                ></app-bk-select>
              </div>
              <div class="col-lg-4 col-sm-12">
                <app-bk-select
                  [currentFormGroup]="statement"
                  [options]="effectsOptions"
                  currentFormControlName="effect"

                  label="{{ getResourceLocal('maintainPolicy.effect') }}"
                ></app-bk-select>
              </div>
              <div class="col-lg-3 col-sm-12">
                <app-bk-multi-select
                  (onSelect)="processSelectedValues($event, statement)"
                  [currentFormGroup]="statement"
                  [options]="actionsOptions"
                  [startingValues]='multiSelectStartValuesArray[i]'
                  controlId="multiSelectCategoryId"
                  currentFormControlName="selectActions"
                  label="{{ getResourceLocal('maintainPolicy.action') }}"
                >
                </app-bk-multi-select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12" style="margin-bottom: 1em">
      <bk-button
        [disabled]="!policyForm.valid"
        intent="success"
        label="{{ getCommonResources('saveButton') }}"
        type="submit"
      ></bk-button
      >
      <bk-button
        (onClick)="revert()"
        intent="warning"
        label="{{ getCommonResources('revertButton') }}"
      ></bk-button
      >&nbsp;<bk-button
      (onClick)="cancel()"
      intent="danger"
      label="{{ getCommonResources('cancelButton') }}"
    ></bk-button>
    </div>
  </form>
</div>
