<div *ngIf="tierForm" class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">
        {{ getResourceLocal('pageHeading') }}
      </h1>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="tierForm" novalidate>
    <div class="row">
      <div class="col-sm-12">
        <div class="table-box">
          <div class="content padded">
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <seer-input [currentFormGroup]="tierForm" currentFormControlName="name"
                              label="{{ getResourceLocal('name') }}"></seer-input>
              </div>
              <div class="col-lg-6 col-sm-12">
                <seer-input [currentFormGroup]="tierForm" currentFormControlName="description" label="{{
                                    getResourceLocal('description')
                                }}"></seer-input>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <seer-select [currentFormGroup]="tierForm"
                               [options]="tierDurationOptions"
                               currentFormControlName="tierDurationString"
                               label="{{ getResourceLocal('tierDuration') }}"></seer-select>
              </div>
              <div class="col-lg-6 col-sm-12">
                <seer-select [currentFormGroup]="tierForm"
                               [options]="tierTypeOptions"
                               currentFormControlName="tierTypeString"
                               label="{{ getResourceLocal('tierType') }}"></seer-select>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <seer-input [currentFormGroup]="tierForm"
                              currentFormControlName="minTransactions"
                              label="{{ getResourceLocal('minTransactions') }}"></seer-input>
              </div>
              <div class="col-lg-6 col-sm-12">
                <seer-input [currentFormGroup]="tierForm" currentFormControlName="maxTransactions" label="{{
                                    getResourceLocal('maxTransactions')
                                }}"></seer-input>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12" style="margin-bottom: 1em">
      <seer-button [disabled]="!tierForm.valid" intent="success" label="{{getCommonResources('saveButton')}}"
                 type="submit"></seer-button>
      <seer-button (onClick)="revert()" intent="warning" label="{{getCommonResources('revertButton')}}"></seer-button>
      &nbsp;<seer-button (onClick)="cancel()" intent="danger" label="{{getCommonResources('cancelButton')}}">
    </seer-button>
    </div>
  </form>
</div>
