<div class="container" *ngIf="loginModel">
  <div class="row loginbox">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4 table-box">
      <div class="panel panel-default">
        <div class="panel-heading">Login</div>
        <div class="panel-body">
          <div *ngIf="loginFailed == true" class="alert alert-warning">
            <strong>Login Failed!</strong>
          </div>
          <div *ngIf="logoutSuccess == true" class="alert alert-success">
            <strong>Logout Success!</strong>
          </div>
          <form #userForm="ngForm">
            <div class="form-group">
              <label for="username" class="center-block">
                <input type="text" class="form-control" placeholder="Username" name="username" id="username"
                       [(ngModel)]="loginModel.username"
                       required>
              </label>
            </div>
            <div class="form-group">
              <label for="password" class="center-block">
                <input type="password" class="form-control" placeholder="Password" name="password" id="password"
                       [(ngModel)]="loginModel.password" required>
              </label>
            </div>
            <div class="form-group text-center">
              <!-- <button type="submit" (click)="login()" class="btn btn-success">Login</button> -->
              <bk-button type='submit' (onClick)='login()' intent='success' label='Login'></bk-button>
              <bk-button type='button' (onClick)='createAccount()' intent='warning' label='Create Account'></bk-button>
            </div>
          </form>
          <!-- <div class="text-center">
            <a class='actionLink' (click)="signUp()">No Account? Sign up now!</a>
          </div> -->
          <div class="tp-10margin">
            <div>
              This is a demo application built on top of Angular4, RESTful API, Websockets and deployed on AWS.
            </div>
            <div class="tp-10margin">
              You can login using "admin/12345678" user name and password.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>
