<div *ngIf="loginModel"
     [ngStyle]="{'background-image': 'url(../../../assets/images/loginPageBG.jpeg)', height: '100%', width: '100%'}"
     class="container">
  <div class="row loginbox">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4 table-box">
      <div class="panel panel-default">
        <div class="panel-heading">{{getCommonResourcesLocal('heading')}}</div>
        <div class="panel-body">
          <div *ngIf="loginFailed == true" class="alert alert-warning">
            <strong>{{getCommonResourcesLocal('loginFailure')}}</strong>
          </div>
          <div *ngIf="logoutSuccess == true" class="alert alert-success">
            <strong>{{getCommonResourcesLocal('logoutSuccess')}}</strong>
          </div>
          <form #userForm="ngForm">
            <div class="form-group">
              <label class="center-block" for="username">
                <input [(ngModel)]="loginModel.username" class="form-control" id="username" name="username"
                       placeholder="Username"
                       required
                       type="text">
              </label>
            </div>
            <div class="form-group">
              <label class="center-block" for="password">
                <input [(ngModel)]="loginModel.password" class="form-control" id="password" name="password"
                       placeholder="Password"
                       required type="password">
              </label>
            </div>
            <div class="form-group text-center">
              <bk-button (onClick)='login()' intent='success' label='Login' type='submit'></bk-button>
              <bk-button (onClick)='createAccount()' intent='warning' label='Create Account' type='button'></bk-button>
            </div>
          </form>
          <div class="tp-10margin">
            <div class="text-center">
              &copy;&nbsp;{{getCommonResourcesLocal('copyright')}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>
