<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<nav id="sidebar" #sideBarMenu>
  <div class="hidden-xs hidden-sm closeTrigger"><span (click)="toggleMenu()" #menuHideTrigger class="custom-glyphicon glyphicon glyphicon-chevron-left"></span>
  </div>

  <ul class="list-unstyled components">
    <li [style.display]="getAuthenticationService().isAdmin() ? 'block': 'none'">
      <a [routerLink]="['/dashboard']" data-toggle="collapse" aria-expanded="false">
        <i class="headingLi glyphicon glyphicon-dashboard"></i>Dashboard
      </a>
    </li>
    <li [style.display]="getAuthenticationService().isAdmin() ? 'block': 'none'">
      <a href="#refDataSubMenu" data-toggle="collapse" (click)="trackMenu('refDataSubMenu')" aria-expanded="false"
        class="dropdown-toggle">
        <i class="headingLi glyphicon glyphicon-th-list"></i>
        {{ getResourceLocal('refData.heading')}}<i class="fa fa-fw fa-angle-down pull-right"></i>
      </a>
      <ul class="collapse list-unstyled" id="refDataSubMenu" #refDataSubMenuUl>
        <li>
          <a [routerLink]="['/ref-data/category/add/init']">{{
            getResourceLocal('refData.category.create')
          }}</a>
        </li>
        <li>
          <a [routerLink]="['/ref-data/category/search']">{{
              getResourceLocal('refData.category.search')
            }}</a>
        </li>
        <li *ngIf="getAuthenticationService().isUberAdmin()">
          <a [routerLink]="['/ref-data/action/add/init']">{{
            getResourceLocal('refData.action.create')
          }}</a>
        </li>
        <li *ngIf="getAuthenticationService().isUberAdmin()">
          <a [routerLink]="['/ref-data/action/search']">{{
            getResourceLocal('refData.action.search')
          }}</a>
        </li>
        <li *ngIf="getAuthenticationService().isUberAdmin()">
          <a [routerLink]="['/ref-data/resource/add/init']">{{
            getResourceLocal('refData.resource.create')
          }}</a>
        </li>
        <li *ngIf="getAuthenticationService().isUberAdmin()">
          <a [routerLink]="['/ref-data/resource/search']">{{
            getResourceLocal('refData.resource.search')
          }}</a>
        </li>
        <li *ngIf="getAuthenticationService().isUberAdmin()">
          <a [routerLink]="['/ref-data/policy/add/init']">{{
            getResourceLocal('refData.policy.create')
          }}</a>
        </li>
        <li *ngIf="getAuthenticationService().isUberAdmin()">
          <a [routerLink]="['/ref-data/policy/search']">{{
            getResourceLocal('refData.policy.search')
          }}</a>
        </li>
        <li *ngIf="getAuthenticationService().isUberAdmin()">
          <a [routerLink]="['/ref-data/role/add/init']">{{
            getResourceLocal('refData.role.create')
          }}</a>
        </li>
        <li *ngIf="getAuthenticationService().isUberAdmin()">
          <a [routerLink]="['/ref-data/role/search']">{{
            getResourceLocal('refData.role.search')
          }}</a>
        </li>
      </ul>
    </li>
    <li [style.display]="getAuthenticationService().isUberAdmin() ? 'block': 'none'">
      <a href="#uberAdminTasks" data-toggle="collapse" (click)="trackMenu('uberAdminTasks')" aria-expanded="false"
        class="dropdown-toggle">
        <i class="headingLi glyphicon glyphicon-king"></i>{{ getResourceLocal('admin.heading')
        }}<i class="fa fa-fw fa-angle-down pull-right"></i>
      </a>
      <ul class="collapse list-unstyled" id="uberAdminTasks" #uberAdminTasksUl>
        <li>
          <a [routerLink]="['/admin/add_intent']"
            [queryParams]="{ action: 'predefined' }">{{ getResourceLocal('admin.option1') }}</a>
        </li>
        <li>
          <a [routerLink]="['/admin/start_search_intent']"
            [queryParams]="{ action: 'predefined' }">{{ getResourceLocal('admin.option2') }}</a>
        </li>
        <li>
          <a [routerLink]="['/model/start-train-model']"
            [queryParams]="{ action: 'predefined' }">{{ getResourceLocal('admin.option3') }}</a>
        </li>
        <li>
          <a [routerLink]="['/model/search-models']"
            [queryParams]="{ action: 'predefined' }">{{ getResourceLocal('admin.option4') }}</a>
        </li>
        <li>
          <a [routerLink]="['/subscription/add-tier']"
            [queryParams]="{ action: 'predefined' }">{{ getResourceLocal('admin.option5') }}</a>
        </li>
        <li>
          <a [routerLink]="['/subscription/search-tier']"
            [queryParams]="{ action: 'predefined' }">{{ getResourceLocal('admin.option6') }}</a>
        </li>
        <li>
          <a [routerLink]="['/subscription/add-plan']"
            [queryParams]="{ action: 'predefined' }">{{ getResourceLocal('admin.option7') }}</a>
        </li>
        <li>
          <a [routerLink]="['/subscription/search-plan']"
            [queryParams]="{ action: 'predefined' }">{{ getResourceLocal('admin.option8') }}</a>
        </li>
      </ul>
    </li>
    <li [style.display]="getAuthenticationService().isAccountAdmin() ? 'block': 'none'">
      <a href="#botsLife" data-toggle="collapse" (click)="trackMenu('maintainIntents')" aria-expanded="false"
        class="dropdown-toggle">
        <i class="headingLi glyphicon glyphicon-user"></i>{{ getResourceLocal('maintainIntents.heading')
        }}<i class="fa fa-fw fa-angle-down pull-right"></i>
      </a>
      <ul class="collapse list-unstyled" id="botsLife" #maintainIntents>
        <li>
          <a [routerLink]="['/admin/add_intent']"
            [queryParams]="{ action: 'custom' }">{{ getResourceLocal('maintainIntents.option1') }}</a>
        </li>
        <li>
          <a [routerLink]="['/admin/start_search_intent']"
            [queryParams]="{ action: 'custom' }">{{ getResourceLocal('maintainIntents.option2') }}</a>
        </li>
        <li>
          <a [routerLink]="['/model/start-train-model']"
            [queryParams]="{ action: 'custom' }">{{ getResourceLocal('maintainIntents.option3') }}</a>
        </li>
        <li>
          <a [routerLink]="['/model/search-models']"
            [queryParams]="{ action: 'custom' }">{{ getResourceLocal('maintainIntents.option4') }}</a>
        </li>
      </ul>
    </li>
    <li [style.display]="getAuthenticationService().isAccountAdmin() ? 'block': 'none'">
      <a href="#maintainModel" data-toggle="collapse" (click)="trackMenu('maintainModel')" aria-expanded="false"
        class="dropdown-toggle">
        <i class="headingLi glyphicon glyphicon-play-circle"></i>{{ getResourceLocal('maintainBots.heading')
        }}<i class="fa fa-fw fa-angle-down pull-right"></i>
      </a>
      <ul class="collapse list-unstyled" id="maintainModel" #maintainModelUl>
        <li>
          <a [routerLink]="['/admin/add-bot']">{{
            getResourceLocal('maintainBots.option1')
          }}</a>
        </li>
        <li>
          <a [routerLink]="['/admin/init_search_bot']"
            [queryParams]="{ action: 'editBot' }">{{ getResourceLocal('maintainBots.option2') }}</a>
        </li>
        <li>
          <a [routerLink]="['/admin/init_search_bot']"
            [queryParams]="{ action: 'launchBot' }">{{ getResourceLocal('maintainBots.option3') }}</a>
        </li>
        <li>
          <a [routerLink]="['/admin/init_search_bot']"
            [queryParams]="{ action: 'testBot' }">{{ getResourceLocal('maintainBots.option4') }}</a>
        </li>
        <li>
          <a [routerLink]="['/admin/reTrain_bot']"
            [queryParams]="{ action: 'reTrain' }">{{ getResourceLocal('maintainBots.option5') }}</a>
        </li>
      </ul>
    </li>
    <!--<li>
      <a href="#stateMachineModel" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="headingLi glyphicon glyphicon-play-circle"></i>Modelling<i
          class="fa fa-fw fa-angle-down pull-right"></i>
      </a>
      <ul class="collapse list-unstyled" id="stateMachineModel">
        <li><a [routerLink]="['/state-machine']">Model</a></li>
      </ul>
    </li>-->
  </ul>
</nav>
