<div *ngIf='botForm' class='container-fluid'>
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">{{getResourceLocal('pageHeading')}}</h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <p>
        <span
          class="green-glyphicon-subheading glyphicon glyphicon-plus"></span>{{getResourceLocal('addBotVerbiage')}}
        <span (click)="help()" class="green-glyphicon-help glyphicon glyphicon-question-sign"
              title="Click for more details"></span>
      </p>
    </div>
  </div>
  <form (ngSubmit)='onSubmit($event)' [formGroup]='botForm' novalidate>
    <div class='row'>
      <div class='col-sm-12'>
        <div class="table-box tp-10margin">
          <div class="content padded">
            <div class='row'>
              <div class="col-lg-6 col-sm-12">
                <app-bk-input [currentFormGroup]='botForm' currentFormControlName='name'
                              label='{{getResourceLocal("nameLabel")}}'></app-bk-input>
              </div>
              <div class="col-lg-6 col-sm-12">
                <app-bk-input [currentFormGroup]='botForm' currentFormControlName='displayName'
                              label='{{getResourceLocal("displayNameLabel")}}'></app-bk-input>
              </div>
            </div>
            <div class='row'>
              <div class="col-lg-6 col-sm-12">
                <app-bk-select [currentFormGroup]='botForm' [options]='category'
                               currentFormControlName='category'
                               label='{{getResourceLocal("categoryLabel")}}'></app-bk-select>
              </div>
              <div class="col-lg-6 col-sm-12">
                <app-bk-textarea [currentFormGroup]='botForm' currentFormControlName='description'
                                 label='{{getResourceLocal("descriptionLabel")}}'></app-bk-textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <!-- {{getFormValidationErrors(botForm.controls) | json}} -->
      <div class='col-sm-12' style='margin-bottom: 1em'>
        <bk-button [currentFormGroup]='botForm' intent='success' label='{{getCommonResources("saveButton")}}'
                   type='submit'></bk-button>
        <bk-button (click)="showDeleteModel()" *ngIf='isDeleteAllowed()' intent='danger'
                   label='{{getCommonResources("deleteButton")}}'></bk-button>
        <bk-button (click)="revert()" intent='warning' label='{{getCommonResources("revertButton")}}'></bk-button>
        <bk-button (click)="cancel()" intent='danger' label='{{getCommonResources("cancelButton")}}'>></bk-button>
      </div>
      <div [innerHTML]="getCommonResources('requiredIndicator')" class="col-sm-12"></div>
    </div>
    <!-- {{botForm.valid}}
    {{botForm.value | json}} -->
  </form>

  <app-bk-custom-modal>
    <div class="app-modal-header">
      <span class="custom-glyphicon glyphicon glyphicon-exclamation-sign"></span>{{getResourceLocal("deleteHeading")}}
    </div>
    <div class="app-modal-body">
      {{getResourceLocal("deleteMessage")}}
    </div>
    <div class="app-modal-footer">
      <bk-button (click)='deleteBotModal.hide()' intent="success" label="{{ getCommonResources('noButton') }}">
      </bk-button>
      <bk-button (click)="deleteBot()" intent="danger" label="{{ getCommonResources('deleteButton') }}"></bk-button>
    </div>
  </app-bk-custom-modal>
</div>
